# Mercado Pago
# Obtenha em: https://www.mercadopago.com.br/developers/panel/credentials
MERCADO_PAGO_ACCESS_TOKEN=

# URL do seu App (necessário para o Webhook funcionar)
# No AI Studio, use a URL do seu preview: https://ais-dev-...-run.app
APP_URL=
